
# Node.js related
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Vite & build
dist/
.cache/
*.log

# Environment variables
.env
.env.local
.env.*.local

# IDEs and editors
/.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.log
.vscode/

# Docker
docker-compose.override.yml
*.env.db
*.env.prod
